.layout {
  height: 100%;
}

.header {
  height: 50px;
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.chat {
  flex-direction: column;
  display: flex;
  background: #fff;
  padding: 16px;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 auto;
}
