.myMessage {
    text-align: right;
}

.card {
    width: 250px;
}
.avatar {
    color: #f56a00;
    background-color: #fde3cf;
}
.message {
    margin-top: 16px;
}
.messageBox {
    display: inline-block;
    text-align: left;
}
